<%- include("header")%>

<header>
    <div class="showcase" data-aos="fade-up" data-aos-duration="100">
        <div class="showcase-top">
            <img src="/img/logo.png" class="img-fluid" alt="" />
        </div>

        <div class="showcase-content py-5" data-aos="fade-up" data-aos-duration="1000">
            <h1 data-aos="fade-up" data-aos-duration="1000">See what's next</h1>
            <p class="poppins" data-aos="fade-up" data-aos-duration="1000">Watch anywhere. Watch Anytime</p>

            <div class="group" data-aos="fade-up" data-aos-duration="2000">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>

                <input class="input" type="search" id="search" placeholder="Search..." name="searchbar" />
            </div>


        </div>
    </div>

</header>


<div class="tabs">


    <div class="container" data-aos="fade-up" data-aos-duration="3000">
        <div class="container-fluid my-2" id="filters">

        </div>
    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="3500">
        <h1 class="my-2">Popular</h1>
        <div id="movie_display" class="row g-2 g-sm-4">

        </div>
    </div>
    <div class="container" id="pagin">

    </div>
</div>

<%- include("footer")%>
